* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.App {
  display: flex;
  flex-direction: column;
}

.search {
  margin: 0 auto;
  /*background-color: gray;*/
}
.wrapper {
  display: flex;
  flex-direction: row;
  min-width: 350px;
  margin: 0 auto;
  justify-content: center;
  font-size: 20px;

}

.wrapper__header {
  display: flex;
  flex-direction: row;
  min-width: 350px;
  margin: 0 auto;
  justify-content: center;
  font-size: 20px;

}

table {
  /*border: 1px solid grey;*/
}
/* границы ячеек первого ряда таблицы */
th {
  border: 1px solid grey;
  width: 100px;
}
/* границы ячеек тела таблицы */
td {
  border: 1px solid grey;
  width: 100px;
  text-align: center;
}
.options__search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.autocomplete__search {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}
.text__search{
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

